/* stylelint-disable selector-list-comma-newline-after */

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px; 
  box-sizing: border-box;
  /* IMPORTANTE */  
}

a {
  text-decoration: none;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  text-align: center;
  background-color: #101010;
  color: #e5e5e5;
  /* IMPORTANTE */
  width: 100%;
  position: absolute;	
  bottom: 0;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

.blog-footer a {
  text-decoration: none;
}
